.mat-table {
  width: 100%;
  margin: 0px;
}

table {
  width: 80%;
  margin: 0 auto 20px auto;
  border-spacing: 1;
  border-collapse: collapse;
  background:white;
  border-radius:6px;
  overflow:hidden;
  position:relative;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .6);
}

table th {
  background: #FFED86;
  background: linear-gradient(0deg,#fafaf7 0, #FFED86 100%);
}

.addProduct {
  /* float: right; */
  background-color: #0D7A60;
  margin: 0 0 15px 0;
}
.search-form{
  max-width: 500px;
  min-width: 150px;
  width: 80%;
}
.search-width-full{
  width: 100%;
}
h1 {
  color: #084a3a;
  font-weight: bold;
}
