/bin
*.cache
.DS_Store
*.tests.csprojAssemblyReference.cache
neutrackAPI/neutrackAPI.tests/obj/Debug/netcoreapp3.1/neutrackAPI.tests.csprojAssemblyReference.cache
neutrackAPI/neutrackAPI.tests/obj/Debug/netcoreapp3.1/neutrackAPI.tests.assets.cache
