<div class="container-fluid">
    <app-toolbar [isUserLoggedIn]='isUserLoggedIn' [inputSideNav]= sideNav></app-toolbar>
    <div class="alert alert-danger" *ngIf='errorMessage' role="alert">
      {{errorMessage}}
    </div>
    <div class="alert alert-info" *ngIf='infMessage' role="alert">
      {{infMessage}}
    </div>
    <mat-sidenav-container >
        <mat-sidenav #sideNav mode="side" [(opened)]="isUserLoggedIn">
          <app-side-nav *ngIf="isUserLoggedIn" ></app-side-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
