<h1 mat-dialog-title>Add Patient</h1>

<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Name *</mat-label>
        <input matInput type="text" 
        name="name" formControlName="name">
        <mat-error *ngIf="
        formInstance.controls['name']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>

    <div class="">

        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Gender *</mat-label>
          <mat-select name="gender" formControlName="gender">
            <mat-option value="M">Male</mat-option>
            <mat-option value="F">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="formInstance.controls['gender']?.errors?.required">field required
          </mat-error>
        </mat-form-field>
  
      </div>

    <div class="">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Age *</mat-label>
        <input matInput type="number" name="age" formControlName="age" />
        <mat-error *ngIf="
        formInstance.controls['age']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>

    <div>
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Email *</mat-label>
          <input matInput type="text" 
          name="email" formControlName="email">
          <mat-error *ngIf="
          formInstance.controls['email']?.errors?.required">field required</mat-error>
        </mat-form-field>
      </div>
      <div class="" mat-dialog-actions>
        <button [ngClass]="{'button-color-validation':rc}" mat-raised-button color="primary" 
         (click)="save()"
          cdkFocusInitial>Add</button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
      
      </div>
  </form>
</div>


