<h2 class="dialog-title" mat-dialog-title><i class="fas fa-user-md"></i> {{data.title}}</h2>
<div mat-dialog-content>
      <div class="subtitle"><strong>{{data.details.fullName}}</strong> <br>
        <a [href]="mailTo"><i class="fas fa-envelope-open-text"></i> {{data.details.email}}</a>
      </div>
      <p></p>
      <mat-card-content>
        <mat-grid-list  cols="2" rowHeight="5:1">
          <mat-grid-tile>
            <div class="mat-grid-tile-content">
              <p><strong>Gender</strong> <br/><span>{{data.details.gender}}</span></p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile >
            <div class="mat-grid-tile-content">
              <p><strong>Age</strong> <br/><span>{{getAge(data.details.dateOfBirth)}}</span></p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="mat-grid-tile-content">
              <p><strong>Phone Number</strong> <br/><span>
                <a [href]="telTo"><i class="fas fa-phone"></i> {{data.details.phoneNumber}}</a>
              </span></p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <div class="mat-grid-tile-content">
              <p><strong>Years of Experience</strong> <br/><span>{{data.details.yearsOfExperience|number}}</span></p>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </div>
<div mat-dialog-actions class="mt-15">
  <button id="closeBtn" mat-raised-button mat-dialog-close>Close</button>
</div>
