<button class="addPatient" mat-raised-button color="primary" (click)="addPatient()"> Add Patient </button>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">      
        <th mat-header-cell *matHeaderCellDef>
          <div style="display: flex; align-items: center;">
            <span mat-sort-header>{{column}}</span>          
          </div>
        </th>       
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container [matColumnDef]="'actions'">
        <th mat-header-cell *matHeaderCellDef> actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="view(element)">
            <mat-icon mat-icon-button color="basic">portrait</mat-icon>
          </button>
          <button mat-icon-button (click)="edit(element)">
            <mat-icon mat-icon-button color='primary'>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(element['id'])">
            <mat-icon mat-icon-button color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
  
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator> 
  </div>
  