<div id="login">
  <mat-card>
    <mat-card-content>
      <div class="header">
        <h1>Login</h1>
      </div>

      <form [formGroup]="form" class="normal-form" (ngSubmit)="onSubmit()">
        <div class="theContainer">
          <mat-form-field class="normal-full-width" appearance="fill">
            <mat-label>Email<span>*</span></mat-label>
            <input formControlName="email" matInput />
            <mat-error *ngIf="form.controls['email'].errors?.email">Invalid email address</mat-error>
            <mat-error *ngIf="form.controls['email'].errors?.required">Email is mandatory</mat-error>
          </mat-form-field>
        </div>

        <div class="theContainer">
          <mat-form-field class="normal-full-width" appearance="fill">
            <mat-label>Password<span>*</span></mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&\-*]).{8,16}"/>
              <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            <!-- <ul>
              <li>8-16 characters</li>
              <li>1 lower case character</li>
              <li>1 upper case character</li>
              <li>1 numerical character</li>
              <li>1 special character</li>
            </ul> -->
            <mat-error *ngIf="form.controls['password'].errors?.required" >Password is mandatory</mat-error>
          </mat-form-field>
        </div>

        <div>
          <button class="button-row-submit" mat-raised-button type="submit" [disabled]="
            form.controls['email'].invalid ||
            form.controls['password'].invalid"> Submit </button>
          <button id="theButton" class="button-row-clear" color="accent" mat-raised-button type="reset">Clear</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
