<div class="add-patientComponent">
    <div class="add-patientContent">
        

        <form class="patientRegistrationForm">
            <div class="container">
                <h2>Register New Patient</h2> 
                <hr>
                <label> Firstname:* </label> 
                <input type="text" name="firstname" placeholder= "Firstname" size="15" required /> 
                <label> Lastname:* </label>  
                <input type="text" name="lastname" placeholder="Lastname" size="15"required /> 
                <label> Date of Birth:* </label> 
                <input type="text" name="middlename" placeholder="Date of Birth" size="15" required /> 
                
                <div>
                    <label>Gender :</label><br>
                    <input type="radio" value="Male" name="gender" checked > Male 
                    <input type="radio" value="Female" name="gender"> Female 
                    <input type="radio" value="Other" name="gender"> Other  
                </div>    
                <div>
                    <label> Goal: </label><br>        
                    <select>
                        <option value="Keep weight">Keep weight</option>
                        <option value="Lose weight">Lose weight</option>
                        <option value="Gain weight">Gain weight</option>
                    </select>
                </div>

                <button class="addPatient"> Register </button>           
                <button class="addPatient"> Cancel </button> 
                    
                    <!-- <label>Phone :</label>
                    <input type="text" name="country code" placeholder="Country Code"  value="+91" size="2"/>  -->
                    <!-- <input type="text" name="phone" placeholder="phone no." size="10" required> Current Address : -->
                    <!-- <textarea cols="80" rows="5" placeholder="Current Address" value="address" required> -->
            </div>
        </form>
    </div>
</div>



  