.add-patientComponent {
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .6);
    overflow: auto;
    height: 550px;
}

.add-patientContent {
    margin: 30px;
}

h2 {
  color: #084a3a;
}

.patientRegistrationForm {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: pink;
}
  
.container {
    padding: 50px;
    background-color: rgb(165, 242, 165);
    /* border-radius: 20%; */
}
  
input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: rgba(211, 211, 211, 0.468);
    outline: none;
}

div {
    padding: 10px 0;
}

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  .registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .registerbtn:hover {
    opacity: 1;
  }

  .addPatient {
    float: right;
    margin: 0 100px 30px 0;
    background-color: #109374;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20%;
}