<div class="sidenav">
    <div class="logo">
        <a href="/" class="simple-text logo-normal">
            NeuTrack
        </a>
    </div>
    <ul class="nav">
        <li class="active"><a routerlink="/"><i class="fas fa-chart-line"></i>Dashboard</a></li>
        <li><a routerlink="/patients"><i class="fas fa-random"></i>Patients</a></li>
        <li><a routerlink="/calculator"><i class="fas fa-money-check-alt"></i>Calculator</a></li>
        <li><a routerlink="/account"><i class="fas fa-random"></i>Calculator</a></li>

    </ul>
</div>
