<div class="sidenav">
    <div class="logo">
        <a href="/">
            <img class="apple_logo mat-elevation-z8" src="./../../assets/images/apple_logo.png"/>
        </a>
    </div>
    <ul class="nav">
        <li class="active"><a routerlink="/"><i class="fa fa-home"></i>Dashboard</a></li>
        <li><a routerlink="/patients"><i class="fa fa-users fa-lg"></i>Patients</a></li>
        <!-- <li><a routerlink="/account"><i class="fas fa-money-check-alt"></i>Calculator</a></li> -->
        <li><a routerlink="/calculator"><i class="fas fa-calculator fa-lg"></i>Calculator</a></li>

    </ul>
</div>
