<div *ngIf='roles.length > 0' class="sidenav">
    <div class="logo">
        <a href="/">
            <img class="apple_logo mat-elevation-z8" src="./../../assets/images/apple_logo.png"/>
        </a>
    </div>
    <ul class="nav">
      <li *ngIf='isPatient()' ><a routerLink="/feed"><i class="fa fa-home"></i>Dashboard</a></li>
        <li *ngIf='isNutritionist()' ><a routerLink="/dashboard"><i class="fa fa-home"></i>Dashboard</a></li>
        <li *ngIf='isNutritionist()'><a routerLink="/patients"><i class="fa fa-users fa-lg"></i>Patients</a></li>
        <li *ngIf='isNutritionist() || isPatient()'><a routerLink="/calculator"><i class="fas fa-calculator fa-lg"></i>Calculator</a></li>
        <li *ngIf='isNutritionist()'><a routerLink="/products"><i class="fas fa-seedling fa-lg"></i>Products</a></li>
        <li *ngIf='isNutritionist()'><a routerLink="/recipes"><i class="fas fa-utensils fa-lg"></i>Recipes</a></li>
        <li *ngIf='isPatient()'><a routerLink="/recipes"><i class="fas fa-utensils fa-lg"></i>Meal Plans</a></li>

        <!-- <li class="active"><a routerLink="/calculator"><i class="fas fa-calculator fa-lg"></i>Calculator</a></li> -->

    </ul>
</div>
