<div class="patientsComponent">

    <div class="patientsContent">

        <!-- <ol>
            <li>
                <mat-form-field>
                <mat-label>What's your name?</mat-label>
                <input matInput [(ngModel)]="name">
                </mat-form-field>
            </li>
            <li>
                <button mat-raised-button (click)="openDialog()">Pick one</button>
            </li>
            <li *ngIf="animal">
                You chose: <i>{{animal}}</i>
            </li>
        </ol> -->



        <h2> List of Patients </h2>
        <button class="addPatient" mat-raised-button color="primary" (click)="openDialog()"> Add Patient </button>
       
        <app-data-table></app-data-table>

        

    </div>    
</div>

