.bg-dark {
    background-color: #084a3a !important;
}

a.sidenav-button {
    display: inline;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 20px 0 30px;
    font-size: 25px;
    transform: all .3s ease 0s;
}
.verified{
  color: #d63384;
  font-size: 12px;
}
a.sidenav-button:hover {
    color: rgba(255, 255, 255, 1);
    transition: all .3s ease 0s;
}

.photo {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    overflow: hidden;
}
.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
}


/* .photo imp {
    width: 100%;
} */

.logo-img img {
    width: 15%;
    height: 15%;
}
