
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a *ngIf="isUserLoggedIn" class="sidenav-button"><i class="fas fa-bars" aria-hidden="true" (click)="inputSideNav.toggle()"></i></a>
    <a class="ps-5 navbar-brand">
        <a href="/" class="simple-text logo-mini">
            <div class="logo-img">
                <img src="./../../assets/images/neutrack_logo.png">
            </div>
        </a>
    </a>
    <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="pe-5 collapse navbar-collapse" id="navbarNavDropdown">
        <ul  class="navbar-nav ms-auto ">
            <li class="nav-item" *ngIf="isUserLoggedIn" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="photo">
                      <mat-icon>account_circle</mat-icon>
                    </div>
                    {{activeUser.firstName}}
                    <div *ngIf="roles.includes('Nutritionist')" class="icon">
                      <span  class="verified material-icons">
                        verified
                      </span>
                    </div>

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a routerLink="/account" (click)="goToPage('account')" class="dropdown-item"><i class="fas fa-user-cog"></i> &nbsp; &nbsp; My account</a>
                    <a id="signOut" class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> &nbsp; &nbsp; Sign Out</a>
                </div>
            </li>
            <li *ngIf="!isUserLoggedIn" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  Sign Up
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a [routerLink]="['signup', 'nutritionist']" class="dropdown-item"><i class="fa fa-user-md fa-sm"></i> Nutritionist </a>
                  <a [routerLink]="['signup', 'patient']" class="dropdown-item"><i class="fa fa-user fa-sm"></i> Patient </a>
              </div>
          </li>
          <li *ngIf="!isUserLoggedIn" class="nav-item">
            <a routerLink="/login" class="nav-link" aria-expanded="false">Login</a>
        </li>
        </ul>
    </div>
  </div>

  </nav>
