
<div class="dashboardComponent">
  <mat-grid-list cols="5" rowHeight="150" *ngIf="(dashboardData$ | async) as dashboardData">
    <mat-grid-tile class="dashboard-data" [style.background]="tileColors[0]">
        <p>
          <mat-icon aria-hidden="false" aria-label="Insights icon">insights</mat-icon><br/>
          <strong>Total Patients</strong><br/>
          <span><strong id="data">{{dashboardData.totalPatient}}</strong></span>
        </p>
    </mat-grid-tile>
    <mat-grid-tile class="dashboard-data" [style.background]="tileColors[1]">
      <p>
        <mat-icon aria-hidden="false" aria-label="Insights icon">toggle_on</mat-icon><br/>
        <strong>Active Patients</strong><br/>
        <span><strong id="data">{{dashboardData.numberOfActivePatients}}</strong></span>
      </p>
  </mat-grid-tile>
  <mat-grid-tile class="dashboard-data" [style.background]="tileColors[2]">
    <p>
      <mat-icon aria-hidden="false" aria-label="Insights icon">toggle_off</mat-icon><br/>
      <strong>Inactive Patients</strong><br/>
      <span><strong id="data">{{dashboardData.numberOfInActivePatients}}</strong></span>
    </p>
  </mat-grid-tile>
  <mat-grid-tile class="dashboard-data" [style.background]="tileColors[3]">
    <p>
      <mat-icon aria-hidden="false" aria-label="Insights icon">male</mat-icon><br/>
      <strong>Male Patients</strong><br/>
      <span><strong id="data">{{dashboardData.numberOfMalePatients}}</strong></span>
    </p>
  </mat-grid-tile>
  <mat-grid-tile class="dashboard-data" [style.background]="tileColors[4]">
    <p>
      <mat-icon aria-hidden="false" aria-label="Insights icon">female</mat-icon><br/>
      <strong>Female Patients</strong><br/>
      <span><strong id="data">{{dashboardData.numberOfFemalePatients}}</strong></span>
    </p>
  </mat-grid-tile>
</mat-grid-list>
</div>
