.dashboardComponent {
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .6);
    overflow: auto;
    /* height: 550px; */
    height: calc(100vh - 100px);
}

.dashboardContent {
    margin: 30px;
    font-weight: bold;
}

h1 {
    color: #084a3a;
    font-weight: bold;
}

mat-form-field  input {
    border: none;
    border-bottom: 1px solid #919191;
    width: 80%;
    font-size: 14px;
    margin: 0 0 5px 88px;   
}

mat-form-field  input:active {
    border: none;
}

table {
    width: 80%;
    margin: 0 auto 20px auto;
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px;
    position:relative;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .6);
  }

table th { 
    background: #FFED86;
    background: linear-gradient(0deg,#fafaf7 0, #FFED86 100%);
}
  
tr.example-detail-row {
    height: 0;
}
  
tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
    background: rgb(252,243,189, .5);
}
  
tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}
  
.example-element-row td {
    border-bottom-width: 0;
}
  
.example-element-detail {
    overflow: hidden;
    display: flex;
}
  
.patient-picture {
    min-width: 100px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
}
  
.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}
  
.patient-info {
    padding: 16px;
}
  
.example-element-description-attribution {
    opacity: 0.5;
}