<div class="cover-container landing">

  <div class="center row">
    <h1 class="text-center"> {{title}}</h1>
    <h3 class="subititle text-center">{{nutritionistInfo}}</h3>
    <h3 class="subititle text-center">{{patientInfo}}</h3>
     <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card text-white mb-3">
          <div class="card-body">
            <h2 class="card-title text-center">WORKOUT PROGRAMS</h2>
            <p class="card-text text-center">Affordable and effective workout programs</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white mb-3">
          <div class="card-body">
            <h2 class="card-title text-center">MEAL PLANS</h2>
            <p class="card-text text-center">Plans built with registered dieticians and nutritionist</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white mb-3">
          <div class="card-body">
            <h2 class="card-title text-center">ROUTINES</h2>
            <p class="card-text text-center">Customized routines based on your activity level</p>
          </div>
        </div>
      </div>
     </div>
  </div>

</div>
