<div id="calculator">
    <mat-card>
      <mat-card-content>
        <div class="header">
          <h1>BMI & Calorie Calculator</h1>
        </div>
  
        <form
          [formGroup]="form"
          class="normal-form"
          (ngSubmit)="calculate()"
        >
          <div class="theContainer">
            <mat-label>Height*</mat-label>
            <mat-form-field class="normal-full-width" appearance="outline">
              <input formControlName="height" matInput type="number" min="0" max="100" />
              <mat-error
                *ngIf="form.controls['height'].errors?.required"
                >Height is mandatory</mat-error
              >
            </mat-form-field>
            <small>inches</small>
          </div>
  
          <div class="theContainer">
            <mat-label>Weight*</mat-label>
            <mat-form-field class="normal-full-width" appearance="outline">
              <input formControlName="weight" matInput type="number" min="0" max="1000" />
              <mat-error
                *ngIf="form.controls['weight'].errors?.required"
                >Weight is mandatory</mat-error
              >
            </mat-form-field>
            <small>lbs</small>
          </div>
  
          <div class="theContainer">
              <mat-label>Goal* (Ideal Weight)</mat-label>
              <mat-form-field class="normal-full-width" appearance="outline">
                <input formControlName="goal" matInput type="number" min="0" max="1000" />
                <mat-error
                  *ngIf="form.controls['goal'].errors?.required"
                  >Goal is mandatory</mat-error
                >
              </mat-form-field>
              <small>lbs</small>
            </div>
  
          <div class="theContainer">
            <mat-label>Activity Level*</mat-label>
            <mat-form-field class="normal-full-width" appearance="outline">
              <input formControlName="activityLevel" matInput type="number" min="0" max="7"/>
              <mat-error
                *ngIf="
                  form.controls['activityLevel'].errors
                    ?.required
                "
                >Activity Level is mandatory</mat-error
              >
            </mat-form-field>
            <small>days per week</small>
          </div>
  
          <div class="theContainer">
            <mat-label>Age*</mat-label>
            <mat-form-field class="normal-full-width" appearance="outline">
              <input formControlName="age" matInput type="number" min="0" max="100"/>
              <mat-error
                *ngIf="
                  form.controls['age'].errors
                    ?.required
                "
                >Age is mandatory</mat-error
              >
            </mat-form-field>
            <small>years</small>
          </div>

          <div class="theContainer">
            <mat-label>Gender*</mat-label><br />
            <mat-radio-group formControlName="gender">
              <mat-radio-button [value]="genders[0]"
                >Male</mat-radio-button
              >
              <mat-radio-button [value]="genders[1]"
                >Female</mat-radio-button
              >
              <mat-radio-button [value]="genders[2]"
                >Other</mat-radio-button
              >
            </mat-radio-group>
          </div>
  
          <div>
            <button
              class="button-row-submit"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="
              form.controls['height'].invalid ||
              form.controls['weight'].invalid ||
              form.controls['goal'].invalid ||
              form.controls['activityLevel'].invalid 
              "
            >
              Calculate
            </button>
            <button
              class="button-row-clear"
              mat-raised-button
              color="warn"
              (click)="clear()"
            >
              Clear
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
