<div class="mt-2 container">
  <div *ngIf="mealPlans && mealPlans.length == 0">
    <p-messages [(value)]="noMealPlanMsg" [enableService]="false"></p-messages>
  </div>
  <div class="mt-4" *ngIf="mealPlans && mealPlans.length > 0">
    <h3>Meal Plans</h3>
    <p-table [value]="mealPlans" sortField="day" sortMode="single" (onSort)="onSort()" dataKey="day">
      <ng-template pTemplate="header">
        <tr>
            <th>Day</th>
            <th>Recipe</th>
            <th>Meal</th>
            <th>Calories</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mealPlan let-rowIndex="rowIndex" let-expanded="expanded">
      <tr *ngIf="rowGroupMetadata[mealPlan.day].index === rowIndex">
          <td colspan="4">
              <button type="button" pButton pRipple [pRowToggler]="mealPlan" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              <span class="p-text-bold p-ml-2"><strong> Day {{mealPlan.day}} </strong></span>
          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-mealPlan>
      <tr>
          <td>

          </td>
          <td>
            {{mealPlan.recipeName}}
          </td>
          <td>
              <span [class]="'meal-type-' + mealPlan.mealType">{{mealPlan.mealType}}</span>
          </td>
          <td>
            {{mealPlan.portion * 100 | number: '1.0-0'}}
          </td>
      </tr>
  </ng-template>
    </p-table>
  </div>
</div>
