<div class="mt-2 container">
  <div *ngIf="mealPlans && mealPlans.length == 0">
    <p-messages severity="info">
      <ng-template pTemplate>
          <div class="p-ml-2">Your nutritionist has not created a meal plan for you</div>
      </ng-template>
  </p-messages>
  </div>
  <div class="mt-4" *ngIf="mealPlans && mealPlans.length > 0">
    <h1>Meal Plans</h1>
    <p-table [value]="mealPlans" sortField="day" sortMode="single" (onSort)="onSort()" dataKey="day">
      <ng-template  pTemplate="caption">
        <div class="p-d-flex">
            <button id="downloadXlsx" type="button" label="Download xlsx" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
            &nbsp;
            <button id="downloadPdf" type="button" label="Download pdf"  pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-info p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </div>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
            <th>Day</th>
            <th>Recipe</th>
            <th>Meal</th>
            <th>Portion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mealPlan let-rowIndex="rowIndex" let-expanded="expanded">
      <tr *ngIf="rowGroupMetadata[mealPlan.day].index === rowIndex">
          <td colspan="4">
              <button type="button" pButton pRipple [pRowToggler]="mealPlan" class="p-button-text p-button-rounded p-button-plain p-mr-2" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              <span class="p-text-bold p-ml-2"><strong> Day {{mealPlan.day}} </strong></span>
          </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-mealPlan>
      <tr>
          <td>

          </td>
          <td>
            <a pButton type="button" class="p-button-info p-button-text" (click)="getRecipe(mealPlan.recipeID)">
              {{mealPlan.recipeName}}
            </a>
          </td>
          <td>
              <span [class]="'meal-type-' + mealPlan.mealType">{{mealPlan.mealType}}</span>
          </td>
          <td>
            {{mealPlan.portion  | number: '1.00'}}
            <!-- {{mealPlan.portion | percent}} -->
          </td>
      </tr>
  </ng-template>
    </p-table>
  </div>
</div>
