.accountComponent {
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .6);
    overflow: auto;
    /* height: 550px; */
    height: calc(100vh - 100px);
}

.accountContent {
    margin: 30px;
}

h1 {
    color: #084a3a;
    font-weight: bold;
}
.mat-grid-tile-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left !important;
  height: 100%;
  padding: 0;
  margin: 0;
}
.full-width {
  width: 100%;
}

.edit-form{
  margin-top: 10px;
}
