#signUpNutritionist {
  padding-top: 25px;
  min-height: 120vh;
  background-image: url("../../../assets/images/neutrackLogin3.jpg");
  background-position: center;
}

h1 {
  color: #084a3a;
  font-weight: bold;
}

mat-label {
  color: #084a3a;
}

/* span {
  color: red;
} */

mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 1800px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
  background-color: white;
}

mat-radio-group mat-radio-button {
  margin-left: 10px;
}

mat-error {
  text-align: center;
  color: red;
}

input {
  padding: 8px;
}

form.normal-form {
  margin: 10px;
}

.normal-full-width {
  width: 80%;
}

.theContainer {
  width: 100%;
  padding: 5%;
}

.theContainer > * {
  width: 100%;
}

form button {
  margin: 10px;
}

.button-row-submit
{
  background-color: #0D7A60;
  color: white;
}

button.button-row-submit:hover {
  background-color: #0F8D6E;
}

.button-row-clear {
  background-color: #0F8D6E;
  color: white;
}